.main-body{
    width: 100%;
    height: 100%;
    background: lightskyblue;
}
.header{
    width: 100%;
    height: 100px;
    background: orange;
    margin-top: 10px;
}

.left-section{
    width: 20%;
    float: left;
    height: 600px;
    background: red;;
}
.right-section{
    width: 80%;
    float: left;
    height: 600px;
    background: lightgreen;
}
.footer{
    width: 100%;
    height: 100px;
    background: blue;
}
.content{
    width: 100%;
    height: 600px;
    background: white;;
}
body{
    margin: 10px;
}
